.card_info {
  padding: 2.5rem 2.5rem 1rem;
  align-self: stretch;
  flex: 1;

  border: 3px none var(--_cards---light-card--light-card-bg-hover-inverse);
  border-radius: var(--_cards---base-card--base-card-radius);

  background-color: var(--_cards---light-card--light-card-bg);

  box-shadow: 0 2px 20px 0 hsla(215.75757575757578, 63.87%, 30.39%, 0.15);

  list-style-type: none;
}

.card_info.on-inverse {
  border-color: rgba(0, 0, 0, 0.1);
  background-color: transparent;
  background-image: none;
  box-shadow: 0 0 0 1px #aeaeab;
  color: #f8f8f4;
}

.card_info.on-primary {
  border-color: rgba(0, 0, 0, 0.1);
  background-color: transparent;
  background-image: none;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
  color: #4a4a49;
}

@media screen and (max-width: 991px) {
  .card_info.tablet-unset-card {
    border-style: none;
  }
}

.card_info.is-featured {
  border-color: black;
  box-shadow: 0 0 0 2px black;
}

.card_info.on-accent-primary {
  background-color: transparent;
  background-image: none;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
  color: #f8f8f4;
}

.card_info.on-accent-secondary {
  background-color: transparent;
  background-image: none;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
  color: #f8f8f4;
}

.card_info.on-accent-tertiary {
  background-color: transparent;
  background-image: none;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
  color: black;
}

.card_info.is-dark {
  border-color: var(--_cards---dark-card--card-border-color);
  border-radius: var(--_cards---small-card--sm-card-radius);
  background-color: var(--_cards---dark-card--dark-card-bg);
  color: var(--_cards---dark-card--dark-card-text-color);
}

.card_info.is-inverse {
  border-color: transparent;
  background-color: white;
  color: #f8f8f4;
}

.is-inverse {
  transition-property: -webkit-text-stroke-color, color, background-position, background-color;
  transition-duration: 400ms, 400ms, 400ms, 400ms;
  transition-timing-function: ease, ease, ease, ease;
  background-position-x: left;
  background-position-y: center;
}

.is-inverse:hover {
  background-position-x: right;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card_info.is-accent-primary {
  border-color: transparent;
  background-color: black;
  color: white;
}

.card_info.is-accent-secondary {
  background-color: #b6b6b6;
  color: #f8f8f4;
}

.card_info.is-accent-tertiary {
  background-color: transparent;
  color: black;
}

.card_info.on-secondary {
  border-color: rgba(0, 0, 0, 0.1);
  background-color: transparent;
  background-image: none;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
  color: #4a4a49;
}

.card_info.ix_card-deck-space {
  z-index: 1;
  margin-right: 2rem;
  align-self: stretch;
  flex: 0 0 auto;
  transition: margin-right 500ms cubic-bezier(.68, -.55, .265, 1.55);
}

.card_info.ix_card-slide-up-1 {
  position: relative;
  z-index: 1;
  pointer-events: auto;
  transition: opacity 300ms cubic-bezier(.55, .055, .675, .19),transform 300ms cubic-bezier(.55, .055, .675, .19);
}

.card_info.ix_card-slide-up-2 {
  position: relative;
  z-index: 1;
  pointer-events: auto;
  transition: opacity 300ms cubic-bezier(.55, .055, .675, .19),transform 300ms cubic-bezier(.55, .055, .675, .19);
}

.backdrop-filter_blur {
  backdrop-filter: blur(50px);
}

.card_info.ix_card-slide-up-3 {
  position: relative;
  z-index: 1;
  pointer-events: auto;
  transition: opacity 300ms cubic-bezier(.55, .055, .675, .19),transform 300ms cubic-bezier(.55, .055, .675, .19);
}

.card_info.ix_card-slide-up-3:hover {
  position: relative;
}

.card_info.ix_card-slide-up-4 {
  position: relative;
  z-index: 1;
  pointer-events: auto;
  transition: opacity 300ms cubic-bezier(.55, .055, .675, .19),transform 300ms cubic-bezier(.55, .055, .675, .19);
}

.card_info.ix_card-slide-up-4:hover {
  z-index: 99;
}

.bg-bright-grey {
  background-color: var(--core-colors--bright-grey);
}

.card_info.bg-bright-grey.sg_contrast {
  border-color: var(--_colors---backgrounds--bg-brightgrey);
}

.headline_h4 {
  font-family: var(--_type---fonts--font-headlines);
  font-size: var(--headlines--h4);
  font-weight: var(--_type---h3-headline--h3-weight);
}

@media screen and (max-width: 991px) {
  .headline_h4 {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 767px) {
  .headline_h4 {
    font-size: 1.08rem;
  }
}

@media screen and (max-width: 479px) {
  .headline_h4 {
    font-size: 1.25rem;
    text-align: center;
  }
}

.margin-bottom_none {
  margin-bottom: 0 !important;
}

@media screen and (max-width: 991px) {
  .margin-bottom_none {
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 767px) {
  .margin-bottom_none {
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 479px) {
  .margin-bottom_none {
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 479px) {
  .headline_h4.text-align_left {
    text-align: left;
  }
}

.text-align_left {
  text-align: left;
}

.text-color_secondary {
  font-family: var(--_type---fonts--font-subheadlines);
  text-wrap: balance;
}

.max-width_large {
  max-width: 50rem;
}

.sg_table-row {
  display: flex;
  padding-top: 2rem;
  padding-bottom: 3rem;
  flex: 1;
}

@media screen and (max-width: 991px) {
  .sg_table-row {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

.sg_table-row.sg_table-head {
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--blue-divider-color);
}

@media screen and (max-width: 991px) {
  .sg_table-row.sg_table-head {
    display: none;
  }
}

.sg_table-head {
  padding-bottom: 0.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.sg_table-row.sg_border-bottom {
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--blue-divider-color);
}

@media screen and (max-width: 991px) {
  .sg_table-row.sg_border-bottom {
    flex-direction: column;
    flex-wrap: nowrap;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
  }
}

.sg_table-row.sg_gap {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
}

@media screen and (max-width: 991px) {
  .sg_table-row.sg_gap {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

.sg_table-cell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  align-self: stretch;
  flex: 1;
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
}

@media screen and (max-width: 991px) {
  .sg_table-cell {
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.sg_table-cell.sg_align-bottom {
  justify-content: flex-end;
  align-items: flex-start;
}

.sg_table-cell-title {
  display: flex;
  width: 100%;
  max-width: 8rem;
  padding-right: 20px;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  align-self: center;
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;

  font-size: 0.75rem;
}

@media screen and (max-width: 991px) {
  .sg_table-cell-title {
    width: auto;
  }
}

.sg_table-cell.sg_cell-small {
  max-width: 8rem;
}

.sg_table-cell.sg_preview-lg {
  display: grid;
  min-height: 15rem;
  justify-content: flex-start;
  justify-items: stretch;
  align-items: start;
  grid-auto-columns: 1fr;
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

.sg_table-cell.is-shrink {
  flex: 0 auto;
}

.label {
  font-family: var(--_type---fonts--font-labels);
  font-size: var(--_buttons---label--label-text-size-sm);
  line-height: var(--_buttons---label--label-text-height);
  font-weight: var(--_buttons---label--label-text-weight);
  text-transform: uppercase;
}

.sg_label {
  display: inline-flex;
  padding: var(--_buttons---label--label-padding-top) var(--_buttons---label--label-padding-right) var(--_buttons---label--label-padding-bottom\<deleted\|variable-10429608-62ab-680d-ef54-1c754f5182d3\>) var(--_buttons---label--label-padding-left);
  align-self: center;
  flex: 0 0 auto;

  background-color: var(--core-colors--core-color-blue);

  font-family: var(--_type---fonts--font-labels);
  color: white;
  font-size: 1rem;
  line-height: var(--_buttons---label--label-text-height);
  font-weight: var(--_buttons---label--label-text-weight);
  text-decoration: none;
  text-transform: uppercase;
}

@media screen and (max-width: 479px) {
  .sg_label {
    justify-content: flex-start;
    align-items: center;
    align-self: center;
    order: 0;
    flex: 0 auto;
  }
}

.bg-purple {
  background-color: var(--core-colors--color-1-purple);
}

.bg-green {
  background-color: #5b8aa0;
}

.sg_label.bg-red {
  background-color: hsla(0, 82.98%, 63.14%, 1.00);
}

.bg-red {
  background-color: hsla(0, 82.98%, 63.14%, 1.00);
}

.sg_label.bg-dark-orange {
  background-color: #e4782e;
}

.bg-dark-orange {
  background-color: var(--_colors---backgrounds--bg-orange);
}

.sg_label.bg-orange {
  background-color: #f08d19;
}

.bg-orange {
  background-color: var(--core-colors--color-5-orange);
}

.bg-yellow {
  background-color: var(--_colors---backgrounds--bg-yellow);
}

.sg_label.bg-bright-grey {
  background-color: #ababab;
}

@media screen and (max-width: 479px) {
  .auto-left {
    display: flex;
    margin-right: auto;
    padding-bottom: 0.5rem;
  }
}

@media screen and (max-width: 479px) {
  .sg_label.bg-bright-grey.margin-left_auto {
    align-self: flex-start;
  }
}

.margin-left_auto {
  margin-left: auto;
}

.margin-bottom_xxsmall {
  margin-bottom: 0.5rem;
}

.sg_label.bg-grey {
  background-color: #575757;
}

.bg-grey {
  background-color: var(--_colors---backgrounds--bg-grey);
}

.sg_label.bg-dark-grey {
  background-color: #2e2e2e;
}

.sg_label.bg-white {
  display: block;
  background-color: white;
  text-align: center;
}

.bg-white {
  background-color: var(--_colors---backgrounds--bg-white);
}

@media screen and (max-width: 767px) {
  .bg-white {
    display: none;
  }
}

.text-bright-grey {
  color: var(--_colors---text--text-brightgrey);
}

@media screen and (min-width: 1920px) {
  .text-bright-grey {
    color: var(--_colors---text--text-brightgrey);
  }
}

.bg-bright-blue {
  background-color: hsla(195.00000000000003, 40.00%, 78.43%, 1.00);
}

.sg_label.bg-bright-white {
  background-color: var(--_colors---backgrounds--bg-brightwhite);
  color: var(--_colors---text--text-blue);
}

.sg_label.bg-bright-white.text-bright-blue {
  color: var(--_colors---text--text-brightblue);
  line-height: 0.5em;
}

.text-bright-blue {
  border: 0.0625px none #b2d3de;
  color: var(--_colors---text--text-brightblue);
}

.sg_label.bg-bright-white.text-green {
  color: var(--_colors---text--text-green);
}

.text-green {
  border-width: 0.0625rem;
  border-color: hsla(198.00000000000003, 26.79%, 43.92%, 1.00);
  color: var(--_colors---text--text-green);
}

.sg_label.bg-bright-white.text-purple {
  color: var(--_colors---text--text-purple);
}

.text-purple {
  color: var(--_colors---text--text-purple);
}

.sg_label._1 {
  font-size: 1rem;
}

.sg_label._2 {
  font-size: 2rem;
}

.sg_label._4 {
  font-size: 4rem;
  font-smooth: always;
}

.sg_label.is-light-text {
  padding: 0em;
  background-color: transparent;
  color: var(--core-colors--bright-white);
}

.sg_label.is-light-text.padding-left_small {
  display: flex;
  height: 100%;
  padding-left: 1rem;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: flex-start;
  align-self: center;
  flex: 1;

  vertical-align: baseline;
}

.padding-left_small {
  padding-left: 1rem;
}

.text-blue {
  border: 0.0625px none #1c437f;
  color: var(--_colors---text--text-blue);
}

@media screen and (max-width: 767px) {
  .text-blue {
    color: #1c437f;
  }
}

.sg_label.is-small {
  font-size: 0.85rem;
}

.sg_label.is-text {
  background-color: var(--_colors---core-colors--transparent);
  color: var(--_forms---form-label-text-color);
}

.sg_label.is-text:where(.w-variant-abde65a5-827b-2954-bfe9-bebdfbfec6a3) {
  color: var(--_colors---text--text-white);
}

.flex_vertical {
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.flex_vertical.gap-xlarge {
  grid-column-gap: 5rem;
  grid-row-gap: 5rem;
}

.gap-xlarge {
  grid-column-gap: 5rem;
  grid-row-gap: 5rem;
}

.flex_vertical.gap-large {
  justify-content: center;
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
}

@media screen and (max-width: 991px) {
  .flex_vertical.gap-large {
    justify-content: flex-end;
    align-items: stretch;
  }
}

@media screen and (max-width: 767px) {
  .flex_vertical.gap-large {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
  }
}

@media screen and (max-width: 479px) {
  .flex_vertical.gap-large {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

.gap-large {
  grid-column-gap: 4rem;
  grid-row-gap: 4rem;
}

.flex_vertical.gap-xsmall {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

.gap-xsmall {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

.flex_vertical.gap-xxsmall {
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
}

.gap-xxsmall {
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
}

.flex_vertical.gap-small {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
}

.gap-small {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
}

.flex-child_expand {
  flex: 1;
}

.flex_vertical.gap-medium {
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
}

.gap-medium {
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
}

.gap-xxlarge {
  grid-column-gap: 6rem;
  grid-row-gap: 6rem;
}

.flex_vertical.is_align-center-flex {
  align-items: center;
}

.flex_vertical.is_align-end-flex {
  justify-content: flex-start;
  align-items: flex-end;
}

.sg_class-wrapper {
  display: inline-flex;
  margin-bottom: 0rem;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
}

@media screen and (min-width: 1920px) {
  .sg_class-wrapper {
    flex-wrap: nowrap;
  }
}

@media screen and (max-width: 991px) {
  .sg_class-wrapper {
    height: auto;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .sg_class-wrapper {
    display: flex;
    padding-left: 0rem;
    order: 0;
  }
}

@media screen and (max-width: 479px) {
  .sg_class-wrapper {
    display: flex;
    height: auto;
    margin-bottom: 0rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    flex-direction: row;
    flex-wrap: nowrap;
    align-self: stretch;
  }
}

.sg_class-wrapper.is-grid {
  display: inline-grid;
  flex-direction: column;
  justify-items: stretch;
  flex-wrap: nowrap;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-auto-rows: min-content;
  grid-column-gap: 0.25rem;
  grid-row-gap: 0.25rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content min-content;
}

@media screen and (max-width: 479px) {
  .sg_class-wrapper.is-grid {
    justify-items: stretch;
    align-items: center;
    grid-auto-rows: auto;
    grid-column-gap: 0.5rem;
    grid-row-gap: 0.5rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
}

.sg_class-wrapper.is-grid.margin-bottom_medium {
  justify-items: stretch;
  align-items: end;
}

.margin-bottom_medium {
  margin-bottom: 3rem;
}

@media screen and (max-width: 767px) {
  .margin-bottom_medium {
    margin-bottom: 1.5rem;
  }
}

@media screen and (max-width: 479px) {
  .sg_class-wrapper.is-grid.padding-bottom_medium {
    grid-template-columns: 0.75fr 1fr;
  }
}

.padding-bottom_medium {
  padding-bottom: 3rem;
}

@media screen and (max-width: 767px) {
  .padding-bottom_medium {
    padding-bottom: 1.5rem;
  }
}

.padding-bottom_large {
  padding-bottom: 4rem;
}

@media screen and (max-width: 767px) {
  .padding-bottom_large {
    padding-bottom: 2rem;
  }
}

.margin-top_medium {
  margin-top: 3rem;
}

@media screen and (max-width: 767px) {
  .margin-top_medium {
    margin-top: 1.5rem;
  }
}

.margin-top_small {
  margin-top: 2rem;
}

@media screen and (max-width: 767px) {
  .margin-top_small {
    margin-top: 1rem;
  }
}

.margin-right_small {
  margin-right: 1rem;
}

.margin-bottom_small {
  margin-bottom: 2rem;
}

@media screen and (max-width: 767px) {
  .margin-bottom_small {
    margin-bottom: 1rem;
  }
}

.sg_class-wrapper.is-vertical {
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: flex-end;
  grid-column-gap: 0.2rem;
  grid-row-gap: 0.2rem;
  grid-template-rows: auto;
}

@media screen and (max-width: 479px) {
  .sg_class-wrapper.is-vertical {
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
  }
}

@media screen and (max-width: 479px) {
  .sg_class-wrapper.is-vertical.margin-right_small {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

.margin-top_large {
  margin-top: 4rem;
}

@media screen and (max-width: 767px) {
  .margin-top_large {
    margin-top: 2rem;
  }
}

@media screen and (max-width: 479px) {
  .sg_class-wrapper.sg_social-buttons-grid {
    flex-direction: column;
    flex-wrap: nowrap;
    order: -1;
  }
}

.sg_icon {
  width: 2.5rem;
  height: 1.5rem;
  margin-top: auto;
  margin-bottom: auto;
  align-self: center;
  flex: 0 0 auto;

  border: 0.0625rem solid transparent;
  border-radius: 0.25rem;

  background-color: transparent;
  background-image: url("https://cdn.prod.website-files.com/68729bbbf00ae2d98c02980d/687c0125e398c0733de171b9_style-outline.svg");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;

  opacity: 1;
}

.avatar {
  position: relative;

  overflow: hidden;
  width: 4rem;
  height: 4rem;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;

  border-top-left-radius: 100rem;
  border-top-right-radius: 100rem;
  border-bottom-left-radius: 100rem;
  border-bottom-right-radius: 100rem;

  background-color: black;

  object-fit: cover;
}

@media screen and (max-width: 479px) {
  .avatar {
    margin-bottom: 16px;
  }
}

.avatar.is-small {
  width: 2rem;
  height: 2rem;
}

.avatar.is-large {
  width: 5rem;
  height: 5rem;
}

.image_cover_fix2 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#w-node-_81b26347-d5ab-4976-de6e-af23858d2751-858d2751 {
}
#w-node-_81b26347-d5ab-4976-de6e-af23858d2752-858d2751 {
}
#w-node-_81b26347-d5ab-4976-de6e-af23858d275e-858d2751 {
}
#w-node-_81b26347-d5ab-4976-de6e-af23858d2761-858d2751 {
}
#w-node-_81b26347-d5ab-4976-de6e-af23858d2762-858d2751 {
  justify-self: end;
  grid-row-start: span 1;
  grid-row-end: span 1;
  grid-column-start: span 1;
  grid-column-end: span 1;
}
#w-node-_81b26347-d5ab-4976-de6e-af23858d2763-858d2751 {
  justify-self: start;
  align-self: center;
}
#w-node-_81b26347-d5ab-4976-de6e-af23858d2766-858d2751 {
}
#w-node-_81b26347-d5ab-4976-de6e-af23858d276a-858d2751 {
}
#w-node-_81b26347-d5ab-4976-de6e-af23858d276b-858d2751 {
  justify-self: end;
  grid-row-start: span 1;
  grid-row-end: span 1;
  grid-column-start: span 1;
  grid-column-end: span 1;
}
#w-node-_81b26347-d5ab-4976-de6e-af23858d276c-858d2751 {
  justify-self: start;
  align-self: center;
}
#w-node-_81b26347-d5ab-4976-de6e-af23858d276f-858d2751 {
}
#w-node-_81b26347-d5ab-4976-de6e-af23858d2773-858d2751 {
}
#w-node-_81b26347-d5ab-4976-de6e-af23858d2774-858d2751 {
  justify-self: end;
  grid-row-start: span 1;
  grid-row-end: span 1;
  grid-column-start: span 1;
  grid-column-end: span 1;
}
#w-node-_81b26347-d5ab-4976-de6e-af23858d2775-858d2751 {
  justify-self: start;
  align-self: center;
}
#w-node-_81b26347-d5ab-4976-de6e-af23858d2778-858d2751 {
}
@media screen and (max-width: 479px) {
  #w-node-_81b26347-d5ab-4976-de6e-af23858d2761-858d2751 {
  }
  #w-node-_81b26347-d5ab-4976-de6e-af23858d276a-858d2751 {
  }
  #w-node-_81b26347-d5ab-4976-de6e-af23858d2773-858d2751 {
  }
}