.form_input {
  overflow: clip;
  min-height: 3.5rem;
  margin-bottom: 1em;
  padding-top: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  align-self: auto;

  border-top-style: solid;
  border-top-width: 0.15rem;
  border-top-color: var(--_forms---light-input--input-light-border);
  border-right-style: solid;
  border-right-width: 0.15rem;
  border-right-color: var(--_forms---light-input--input-light-border);
  border-bottom-style: solid;
  border-bottom-width: 0.15rem;
  border-bottom-color: var(--_forms---light-input--input-light-border);
  border-left-style: solid;
  border-left-width: 0.15rem;
  border-left-color: var(--_forms---light-input--input-light-border);
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;

  background-color: var(--core-colors--white);

  transition-property: padding, border-width, border-radius, color, background-color, border-color;
  transition-duration: 200ms, 200ms, 200ms, 200ms, 200ms, 200ms;
  transition-timing-function: ease, ease, ease, ease, ease, ease;

  font-family: var(--_forms---core-inputs--input-font);
  color: var(--core-colors--core-color-blue);
  font-size: var(--_forms-2---input-text-size\<deleted\|variable-5e2ae130-d8fa-d347-e809-ad7c708d2be5\>);
  line-height: var(--text-height-x1-5);
  font-weight: var(--_forms-2---core-inputs--input-font-weight\<deleted\|variable-77cc3657-4c77-c17a-3623-0e6e8f5346dc\>);
  text-align: left;
  -webkit-text-stroke-color: transparent;

  outline: none !important;
}

@media screen and (min-width: 1920px) {
  .form_input {
    align-self: auto;
    color: hsla(0, 0.00%, 34.12%, 1.00);
    text-align: left;
  }
}

.form_input:hover {
  border-color: #1c437f;
  background-color: var(--core-colors--color-12-bright-white);
  background-image: none;
  color: #1c437f;
}

.form_input:focus {
  border-color: var(--core-colors--core-color-blue);
  border-radius: 0.3rem;
  background-color: var(--core-colors--color-12-bright-white);
  color: var(--core-colors--core-color-blue);
  font-weight: 400;
}

.form_input::placeholder {
  color: var(--core-colors--color-9-bright-grey);
  font-size: 0.85rem;
  font-weight: 300;
  text-transform: lowercase;
}

.form_input.is-select {
  color: var(--_colors---text--text-placeholder);
  font-size: var(--_forms---input-placeholder-text-size);
}

.form_input.is-select:hover {
  background-color: color-mix(in srgb, #fafafa 97%, black);
}

.is-select {
  height: auto;
  margin-bottom: 0px;
  padding-top: 1.5rem;
  padding-right: 2rem;
  padding-bottom: 1.5rem;
  padding-left: 2rem;

  transition-property: background-color, border-color;
  transition-duration: 200ms, 200ms;
  transition-timing-function: cubic-bezier(.165, .84, .44, 1), cubic-bezier(.165, .84, .44, 1);

  appearance: none;
}

.is-select:hover {
  border-color: rgba(0, 0, 0, 0.1);
  background-color: #f8f8f4;
}

.is-select:focus {
  outline-color: black;
  outline-offset: 2px;
  outline-style: solid;
  outline-width: 2px;
}

.is-select:focus-visible {
  outline-color: black;
  outline-offset: 2px;
  outline-style: solid;
  outline-width: 2px;
}

.is-select::placeholder {
  color: rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 479px) {
  .is-select {
    background-position: 96% 50%;
  }
}

.form_input.is-select.is-half-size {
  width: 50%;

  background-image: url("https://cdn.prod.website-files.com/68729bbbf00ae2d98c02980d/6885a29e7ebe3a3c0e2f9db5_caret-down-fill.svg");
  background-position: 95% 50%;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.form_input.is-select.is-half-size:focus {
  width: 50%;
}

@media screen and (min-width: 1280px) {
  .form_input.is-select.is-country {
    background-image: url("https://cdn.prod.website-files.com/68729bbbf00ae2d98c02980d/6885a29e7ebe3a3c0e2f9db5_caret-down-fill.svg");
    background-position: 95% 50%;
    background-size: 20px 20px;
    background-repeat: no-repeat;
  }
}

.form_input.is-text-area {
  height: 10rem;
}

.form_input.is-text-area.dark-4 {
  border-color: #1c437f;
  background-color: #1c437f;
  color: white;
}

.form_input.is-text-area.dark-4:hover {
  border-color: color-mix(in srgb, #1c437f 90%, white);
  background-color: color-mix(in srgb, #1c437f 90%, white);
}

.form_input.is-text-area.dark-4::placeholder {
  font-family: Inter;
  color: #ababab;
  font-weight: 400;
}

.form_input.dark {
  background-color: #1c437f;
  color: white;
}

.form_input.dark:hover {
  border-color: color-mix(in srgb, #1c437f 90%, white);
  background-color: #33568c;
  color: white;
}

.form_input.dark::placeholder {
  font-family: Inter;
  color: color-mix(in srgb, white 80%, black);
  font-size: 0.85rem;
  font-weight: 400;
}

.form_input.dark-2 {
  border-color: #1c437f;
  background-color: #1c437f;
  color: white;
}

.form_input.dark-2:hover {
  border-color: color-mix(in srgb, #1c437f 90%, white);
  background-color: color-mix(in srgb, #1c437f 90%, white);
}

.form_input.dark-2::placeholder {
  font-family: Inter;
  color: color-mix(in srgb, white 80%, black);
  font-size: 0.85rem;
  font-weight: 400;
}

.form_input.dark-3 {
  border-color: #1c437f;
  background-color: #1c437f;
}

.form_input.dark-3:hover {
  border-color: color-mix(in srgb, #1c437f 90%, white);
  background-color: color-mix(in srgb, #1c437f 90%, white);
  color: white;
}

.form_input.dark-3::placeholder {
  font-family: Inter;
  color: color-mix(in srgb, white 80%, black);
  font-size: 0.85rem;
  font-weight: 400;
}

@media screen and (min-width: 1280px) {
  .form_input.is-half-size {
    width: 50%;
  }
}

.form_input.is-postal-code {
  padding: 1.5rem 1.75rem;
}