.input_field-2 {
  margin-bottom: 20px;
  padding: var(--_forms-2---core-inputs--input-padding-vertical\<deleted\|variable-17d31256-cbcb-66ec-a1bc-10577b4f20a2\>) var(--_forms-2---core-inputs--input-padding-horizontal\<deleted\|variable-caceda7d-ea13-bf16-4403-65dcd882ee74\>);
  align-self: center;

  border: var(--_forms-2---input-border-width\<deleted\|variable-9fdb09cb-b6eb-0f9d-4c54-c53560287b4f\>) solid var(--_forms-2---light-input--input-light-border\<deleted\|variable-f13be933-3230-c689-2d94-9b56da693ce3\>);
  border-radius: var(--_core-2---input-form-radius\<deleted\|variable-05e9d767-3e00-89c6-e23e-bf7cd8a31d6e\>);

  background-color: var(--_forms-2---light-input--input-light-bg\<deleted\|variable-073357bb-ac15-60b3-8eea-a5b837789c2e\>);

  font-family: var(--_forms-2---core-inputs--input-font\<deleted\|variable-5aff241f-3a99-6d0a-42f1-b50fa01ba1b4\>);
  font-size: var(--_forms-2---input-text-size\<deleted\|variable-f918b2d1-c9fb-d2cc-ec98-c21eb0b54409\>);
  line-height: var(--_forms-2---input-text-height\<deleted\|variable-d18f68ca-3ea9-33fe-89df-4c2d26bda416\>);
  font-weight: var(--_forms-2---core-inputs--input-font-weight\<deleted\|variable-a86de6d4-8a11-f42c-62ec-35276134be88\>);
}

.input_field-2:hover {
  border-color: var(--_forms-2---light-input--input-light-border-hover\<deleted\|variable-5dfb9f1f-9d03-cb43-f63c-a680507844c3\>);
  background-color: var(--_forms-2---light-input--input-light-bg-hover\<deleted\|variable-3af85301-4038-4f77-bbd6-7b128b181443\>);
}

.input_field-2::placeholder {
  color: var(--_forms-2---light-input--input-light-text-placeholder\<deleted\|variable-4956884d-ad82-fd06-a531-eaceec28b908\>);
  text-transform: lowercase;
}

.input_field-2.is-select-3 {
  background-color: white;
  background-image: url("https://cdn.prod.website-files.com/68729bbbf00ae2d98c02980d/68859d3a85fb9596a5e61506_b98076ceedb174c55dc4839b6add238c_down-carret.svg");
  background-position: 97% 50%;
  background-size: 14px;
  background-repeat: no-repeat;

  font-size: 1rem;
  font-weight: 300;
  text-transform: lowercase;

  appearance: none;
}

.input_field-2.is-select-3:focus-visible {
  outline-color: black;
}

@media screen and (max-width: 479px) {
  .input_field-2.is-select-3 {
    background-position: 96% 50%;
  }
}

.is-select-3 {
  height: auto;
  margin-bottom: 0px;
  padding-top: 1.5rem;
  padding-right: 2rem;
  padding-bottom: 1.5rem;
  padding-left: 2rem;

  transition-property: background-color, border-color;
  transition-duration: 200ms, 200ms;
  transition-timing-function: cubic-bezier(.165, .84, .44, 1), cubic-bezier(.165, .84, .44, 1);

  appearance: none;
}

.is-select-3:hover {
  border-color: rgba(0, 0, 0, 0.1);
  background-color: #f8f8f4;
}

.is-select-3:focus {
  outline-color: black;
  outline-offset: 2px;
  outline-style: solid;
  outline-width: 2px;
}

.is-select-3:focus-visible {
  outline-color: black;
  outline-offset: 2px;
  outline-style: solid;
  outline-width: 2px;
}

.is-select-3::placeholder {
  color: rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 479px) {
  .is-select-3 {
    background-position: 96% 50%;
  }
}

.input_field-2.is-select-3.is-half-size {
  width: 50%;
}