.form_input-9 {
  overflow: clip;
  min-height: 3.5rem;
  margin-bottom: 1em;
  padding-top: var(--_forms-2---core-inputs--input-padding-vertical\<deleted\|variable-17d31256-cbcb-66ec-a1bc-10577b4f20a2\>);
  padding-right: var(--_forms-2---core-inputs--input-padding-horizontal\<deleted\|variable-caceda7d-ea13-bf16-4403-65dcd882ee74\>);
  padding-bottom: var(--_forms-2---core-inputs--input-padding-vertical\<deleted\|variable-17d31256-cbcb-66ec-a1bc-10577b4f20a2\>);
  padding-left: var(--_forms-2---core-inputs--input-padding-horizontal\<deleted\|variable-caceda7d-ea13-bf16-4403-65dcd882ee74\>);
  align-self: auto;

  border-top-style: solid;
  border-top-width: var(--_forms-2---input-border-width\<deleted\|variable-9fdb09cb-b6eb-0f9d-4c54-c53560287b4f\>);
  border-top-color: hsla(216.36363636363635, 63.87%, 30.39%, 0.80);
  border-right-style: solid;
  border-right-width: var(--_forms-2---input-border-width\<deleted\|variable-9fdb09cb-b6eb-0f9d-4c54-c53560287b4f\>);
  border-right-color: hsla(216.36363636363635, 63.87%, 30.39%, 0.80);
  border-bottom-style: solid;
  border-bottom-width: var(--_forms-2---input-border-width\<deleted\|variable-9fdb09cb-b6eb-0f9d-4c54-c53560287b4f\>);
  border-bottom-color: hsla(216.36363636363635, 63.87%, 30.39%, 0.80);
  border-left-style: solid;
  border-left-width: var(--_forms-2---input-border-width\<deleted\|variable-9fdb09cb-b6eb-0f9d-4c54-c53560287b4f\>);
  border-left-color: hsla(216.36363636363635, 63.87%, 30.39%, 0.80);
  border-top-left-radius: var(--_core-2---input-form-radius\<deleted\|variable-05e9d767-3e00-89c6-e23e-bf7cd8a31d6e\>);
  border-top-right-radius: var(--_core-2---input-form-radius\<deleted\|variable-05e9d767-3e00-89c6-e23e-bf7cd8a31d6e\>);
  border-bottom-left-radius: var(--_core-2---input-form-radius\<deleted\|variable-05e9d767-3e00-89c6-e23e-bf7cd8a31d6e\>);
  border-bottom-right-radius: var(--_core-2---input-form-radius\<deleted\|variable-05e9d767-3e00-89c6-e23e-bf7cd8a31d6e\>);

  background-color: var(--_forms-2---light-input--input-light-bg-hover\<deleted\|variable-3af85301-4038-4f77-bbd6-7b128b181443\>);

  transition-property: padding, border-width, border-radius, color, background-color, border-color;
  transition-duration: 200ms, 200ms, 200ms, 200ms, 200ms, 200ms;
  transition-timing-function: ease, ease, ease, ease, ease, ease;

  font-family: Inter;
  color: var(--_forms-2---dark-input--input-dark-text\<deleted\|variable-b212bb53-3bf9-b165-cf81-dbea081ed9f8\>);
  font-size: var(--_forms-2---input-text-size\<deleted\|variable-f918b2d1-c9fb-d2cc-ec98-c21eb0b54409\>);
  line-height: 1rem;
  font-weight: var(--_forms-2---core-inputs--input-font-weight\<deleted\|variable-a86de6d4-8a11-f42c-62ec-35276134be88\>);
  text-align: left;
  -webkit-text-stroke-color: transparent;

  outline: none !important;
}

@media screen and (min-width: 1920px) {
  .form_input-9 {
    align-self: auto;
    color: hsla(0, 0.00%, 34.12%, 1.00);
    text-align: left;
  }
}

.form_input-9:where(.w-variant-7b6d122f-4df5-7ec0-ff10-c9d64357fef3) {
  background-color: var(--_cards-2---dark-card--dark-card-bg\<deleted\|variable-e46f498c-d799-ceb6-a643-900c3d541b54\>);
  color: var(--_forms-2---dark-input--input-dark-text\<deleted\|variable-b212bb53-3bf9-b165-cf81-dbea081ed9f8\>);
}

.form_input-9:hover {
  border-color: var(--_core-2---core-colors--core-color-blue\<deleted\|variable-2ffaf34d-b87f-58bd-7607-66e256b28c00\>);
  background-color: var(--_forms-2---light-input--input-light-bg\<deleted\|variable-073357bb-ac15-60b3-8eea-a5b837789c2e\>);
  background-image: none;
  color: #1c437f;
}

.form_input-9:hover:where(.w-variant-7b6d122f-4df5-7ec0-ff10-c9d64357fef3) {
  border-color: var(--_forms-2---dark-input--input-dark-border-hover\<deleted\|variable-312d2a16-4bbe-2267-5790-e2ddd3c9082c\>);
  background-color: var(--_cards-2---light-card--light-card-text-color-hover\<deleted\|variable-254b7ca3-a7c8-2aed-4853-358418d53522\>);
  color: var(--_forms-2---dark-input--input-dark-text\<deleted\|variable-b212bb53-3bf9-b165-cf81-dbea081ed9f8\>);
}

.form_input-9:focus {
  border-color: hsla(216.36363636363635, 63.87%, 30.39%, 1.00);
  background-color: var(--_forms-2---light-input--input-light-bg\<deleted\|variable-073357bb-ac15-60b3-8eea-a5b837789c2e\>);
  color: #1c437f;
  font-weight: 400;
}

.form_input-9::placeholder {
  color: var(--_forms-2---light-input--input-light-text-placeholder\<deleted\|variable-4956884d-ad82-fd06-a531-eaceec28b908\>);
  font-size: 0.85rem;
  font-weight: 300;
  text-transform: lowercase;
}

.form_input-9::placeholder:where(.w-variant-7b6d122f-4df5-7ec0-ff10-c9d64357fef3) {
  font-family: var(--_forms-2---core-inputs--input-font\<deleted\|variable-5aff241f-3a99-6d0a-42f1-b50fa01ba1b4\>);
  color: var(--_forms-2---dark-input--input-dark-text-placeholder\<deleted\|variable-2939594b-3e08-28e8-99e1-2496e4043206\>);
  font-size: var(--_forms-2---input-placeholder-text-size\<deleted\|variable-2f148866-2676-14fb-8e7b-f0914a5a769b\>);
  font-weight: var(--_forms-2---core-inputs--input-font-weight\<deleted\|variable-a86de6d4-8a11-f42c-62ec-35276134be88\>);
}