.button {
  display: inline-flex;
  padding: var(--_buttons---base-buttons--btn-padding-top) var(--_buttons---base-buttons--btn-padding-right) var(--_buttons---base-buttons--btn-padding-bottom) var(--_buttons---base-buttons--btn-padding-left);
  justify-content: center;
  align-items: center;
  grid-column-gap: 0.5em;
  grid-row-gap: 0.5em;

  border: var(--_buttons---all-buttons--btn-border-width) solid var(--core-colors--core-color-blue);
  border-radius: var(--_buttons---large-buttons--lg-btn-radius);

  background-color: var(--core-colors--core-color-blue);
  background-image: none;

  box-shadow: none;
  pointer-events: auto;

  transition: background-color 400ms ease,box-shadow 400ms ease;

  font-family: var(--_buttons---all-buttons--btn-font);
  color: white;
  font-size: var(--_buttons---base-buttons--btn-text-size);
  line-height: var(--text-height-x1);
  font-weight: var(--_buttons---base-buttons--btn-text-weight);
  text-align: center;
  letter-spacing: 0.05em;
  text-decoration: none;
  text-transform: uppercase;
}

@media screen and (min-width: 1280px) {
  .button {
    grid-column-gap: 0em;
    grid-row-gap: 0em;
  }
}

.button:hover {
  border-color: color-mix(in srgb, #1c437f 90%, black);
  background-color: color-mix(in srgb, #1c437f 90%, black);
  background-image: none;
  box-shadow: 0 20px 30px -15px hsla(215.75757575757578, 63.87%, 30.39%, 0.49);
}

.button:active {
  box-shadow: none;
  transform: none;
}

@media screen and (max-width: 479px) {
  .button {
    margin: 0rem auto;
    white-space: nowrap;
  }
}

.button.is-big {
  padding: var(--_buttons---large-buttons--lg-btn-padding-top) var(--_buttons---large-buttons--lg-btn-padding-right) var(--_buttons---large-buttons--lg-btn-padding-bottom) var(--_buttons---large-buttons--lg-btn-padding-left);
  box-shadow: none;
  font-size: 1.15rem;
}

.button.is-big:hover {
  border-color: color-mix(in srgb, #1c437f 90%, black);
}

.button.is-big.is-rebel {
  box-shadow: none;
}

.button.is-big.is-rebel:where(.w-variant-3c1210d9-17db-fa53-98d0-3aebd743dc21) {
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.button.is-big.is-rebel:hover {
  box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 hsla(216.7741935483871, 27.93%, 43.53%, 0.20), 0 20px 30px -15px rgba(0,0,0,0.2);
}

.button.is-big.is-rebel:active {
  box-shadow: none;
}

.button.is-big.is-rebel.is-outline {
  box-shadow: none;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.button.is-big.is-rebel.is-outline:hover {
  box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2), 1px 1px 5px 0 rgba(0,0,0,0.2);
}

.button.is-big.is-rebel.is-outline:active {
  box-shadow: none;
}

.button.is-small {
  padding: var(--_buttons-2---small-buttons--sm-btn-padding-top\<deleted\|variable-162cac5d-ff93-9d2b-ed6c-6d07bd2fd2b2\>) var(--_buttons---small-buttons--sm-btn-padding-right) var(--_buttons-2---small-buttons--sm-btn-padding-bottom\<deleted\|variable-b14fc851-b464-f559-7541-23970298d027\>) var(--_buttons-2---small-buttons--sm-btn-padding-left\<deleted\|variable-17025ad3-722f-f157-8980-84cb839eb751\>);
  font-size: 1rem;
}

.button.is-outline {
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.button.is-outline:hover {
  border-color: #1c437f;
  background-color: #1c437f;
  background-clip: border-box;
  -webkit-text-fill-color: inherit;
}

.button.is-outline:active {
  border-color: color-mix(in srgb, #1c437f 90%, black);
  background-color: color-mix(in srgb, #1c437f 90%, black);
}

.button.inverse:hover {
  border-color: #1c437f;
  background-color: #1c437f;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.button.inverse:active {
  border-color: color-mix(in srgb, #1c437f 90%, black);
  background-color: color-mix(in srgb, #1c437f 90%, black);
}

.button.is-disabled {
  border-color: #575757;
  background-color: #575757;
}

.button.is-disabled:hover {
  border-color: #575757;
  background-color: #575757;
  box-shadow: none;
}

.button.is-alert {
  border-color: #Ef5353;
  background-color: #Ef5353;
  box-shadow: none;
}

.button.is-alert:hover {
  border-color: color-mix(in srgb, #Ef5353 90%, black);
  background-color: color-mix(in srgb, #Ef5353 90%, black);
  box-shadow: 0 20px 30px -15px hsla(0, 49.41%, 50.39%, 0.40);
}

.button.is-disabled-outline {
  border-color: #575757;
  background-color: #575757;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.button.is-disabled-outline:hover {
  box-shadow: none;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.button.alert-outline {
  border-color: #Ef5353;
  background-color: #Ef5353;
  box-shadow: none;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.button.alert-outline:hover {
  border-color: #Ef5353;
  background-color: #Ef5353;
  box-shadow: 0 20px 30px -15px rgba(191, 66, 66, 0.4);
  background-clip: border-box;
  -webkit-text-fill-color: inherit;
}

.button.alert-outline:active {
  border-color: color-mix(in srgb, #Ef5353 90%, black);
  background-color: color-mix(in srgb, #Ef5353 90%, black);
  box-shadow: none;
  background-clip: border-box;
  -webkit-text-fill-color: inherit;
}

.button.is-purple {
  border-color: #5e688d;
  background-color: #5e688d;
  box-shadow: none;
}

.button.is-purple:hover {
  border-color: color-mix(in srgb, #5e688d 90%, black);
  background-color: color-mix(in srgb, #5e688d 90%, black);
  box-shadow: 0 20px 30px -15px hsla(227.2340425531915, 20.00%, 46.08%, 0.20);
}

.button.is-purple:active {
  box-shadow: none;
}

.button.is-green {
  border-color: #5b8aa0;
  background-color: #5b8aa0;
  box-shadow: none;
}

.button.is-green:hover {
  border-color: color-mix(in srgb, #5b8aa0 90%, black);
  background-color: color-mix(in srgb, #5b8aa0 90%, black);
  box-shadow: 0 20px 30px -15px hsla(199.32203389830508, 27.70%, 41.76%, 0.40);
}

.button.is-green:active {
  box-shadow: none;
}

.button.is-yellow {
  border-color: #e1c13d;
  border-radius: 0.35rem;
  background-color: #e1c13d;
  box-shadow: none;
}

.button.is-yellow:hover {
  border-color: color-mix(in srgb, #e1c13d 90%, black);
  background-color: color-mix(in srgb, #e1c13d 90%, black);
  box-shadow: 0 20px 30px -15px hsla(48.29268292682926, 73.21%, 56.08%, 0.40);
}

.button.is-yellow:active {
  box-shadow: none;
}

.button.is-white {
  justify-content: center;
  align-items: center;
  background-color: var(--core-colors--color-12-bright-white);
  color: var(--core-colors--core-color-blue);
}

.button.is-half {
  width: 50%;
}

.button.is-outline.is-small {
  padding: var(--_buttons---small-buttons--sm-btn-padding-top) var(--_buttons---small-buttons--sm-btn-padding-right) var(--_buttons---small-buttons--sm-btn-padding-bottom) var(--_buttons---small-buttons--sm-btn-padding-left);
  transition: none 0ms ease;
  font-size: var(--_buttons---small-buttons--sm-btn-text-size);
}

.button.is-outline.is-small.margin-bottom_small {
  margin-bottom: 1rem;
}

.button.is-outline.is-small.margin-bottom_small:where(.w-variant-1fd7159b-087e-3714-d70d-8344c785e934) {
  border-color: var(--core-colors--white);
  background-color: var(--core-colors--white);
  color: var(--core-colors--core-color-blue);
  background-clip: border-box;
  -webkit-text-fill-color: inherit;
}

.button.is-outline.is-small.margin-bottom_small:hover:where(.w-variant-1fd7159b-087e-3714-d70d-8344c785e934) {
  border-color: var(--_buttons-2---button-white--btn-white-border-hover-dim\<deleted\|variable-6134afd4-9685-88ff-9e38-aeb9a065f2d7\>);
  background-color: var(--_buttons---button-white--btn-white-border-hover-dim);
  box-shadow: 0 20px 30px -15px hsla(0, 0.00%, 98.04%, 0.38);
}

.button.is-outline.is-small.margin-bottom_small:active:where(.w-variant-1fd7159b-087e-3714-d70d-8344c785e934) {
  box-shadow: none;
}