.form_input {
  overflow: clip;
  min-height: 3.5rem;
  margin-bottom: 1em;
  padding-top: var(--_forms---core-inputs--input-padding-vertical);
  padding-right: var(--_forms---core-inputs--input-padding-horizontal);
  padding-bottom: var(--_forms---core-inputs--input-padding-vertical);
  padding-left: var(--_forms---core-inputs--input-padding-horizontal);
  align-self: auto;

  border-top-style: solid;
  border-top-width: var(--_forms---input-border-width);
  border-top-color: hsla(216.36363636363635, 63.87%, 30.39%, 0.80);
  border-right-style: solid;
  border-right-width: var(--_forms---input-border-width);
  border-right-color: hsla(216.36363636363635, 63.87%, 30.39%, 0.80);
  border-bottom-style: solid;
  border-bottom-width: var(--_forms---input-border-width);
  border-bottom-color: hsla(216.36363636363635, 63.87%, 30.39%, 0.80);
  border-left-style: solid;
  border-left-width: var(--_forms---input-border-width);
  border-left-color: hsla(216.36363636363635, 63.87%, 30.39%, 0.80);
  border-top-left-radius: var(--input-form-radius);
  border-top-right-radius: var(--input-form-radius);
  border-bottom-left-radius: var(--input-form-radius);
  border-bottom-right-radius: var(--input-form-radius);

  background-color: var(--_forms---light-input--input-light-bg-hover);

  transition-property: padding, border-width, border-radius, color, background-color, border-color;
  transition-duration: 200ms, 200ms, 200ms, 200ms, 200ms, 200ms;
  transition-timing-function: ease, ease, ease, ease, ease, ease;

  font-family: Inter;
  color: var(--_forms---dark-input--input-dark-text);
  font-size: var(--_forms---input-text-size);
  line-height: 1rem;
  font-weight: var(--_forms---core-inputs--input-font-weight);
  text-align: left;
  -webkit-text-stroke-color: transparent;

  outline: none !important;
}

@media screen and (min-width: 1920px) {
  .form_input {
    align-self: auto;
    color: hsla(0, 0.00%, 34.12%, 1.00);
    text-align: left;
  }
}

.form_input:where(.w-variant-7004af7f-fa73-7b60-65ce-524a31f52812) {
  background-color: var(--_cards---dark-card--dark-card-bg);
  color: var(--_forms---dark-input--input-dark-text);
}

.form_input:where(.w-variant-b7c2bbd7-3446-75f5-354d-c24f808224eb) {
  border-color: var(--_buttons---core-button-color--btn-blue-border);
  background-color: var(--_forms---dark-input--input-dark-bg);
  color: var(--_forms---dark-input--input-dark-text);
}

.form_input:where(.w-variant-4f88d91f-893f-bbae-04e6-912148268bfc) {
  border-color: var(--_forms---dark-input--input-dark-bg);
  background-color: var(--_forms---dark-input--input-dark-bg);
}

.form_input:hover {
  border-color: var(--core-colors--core-color-blue);
  background-color: var(--_forms---light-input--input-light-bg);
  background-image: none;
  color: #1c437f;
}

.form_input:hover:where(.w-variant-7004af7f-fa73-7b60-65ce-524a31f52812) {
  border-color: var(--_forms---dark-input--input-dark-border-hover);
  background-color: var(--_cards---light-card--light-card-text-color-hover);
  color: var(--_forms---dark-input--input-dark-text);
}

.form_input:hover:where(.w-variant-b7c2bbd7-3446-75f5-354d-c24f808224eb) {
  border-color: var(--_forms---dark-input--input-dark-border-hover);
  background-color: var(--_forms---dark-input--input-dark-bg-hover);
}

.form_input:hover:where(.w-variant-4f88d91f-893f-bbae-04e6-912148268bfc) {
  border-color: var(--_forms---dark-input--input-dark-border-hover);
  background-color: var(--_forms---dark-input--input-dark-bg-hover);
  color: var(--_forms---dark-input--input-dark-text);
}

.form_input:focus {
  border-color: hsla(216.36363636363635, 63.87%, 30.39%, 1.00);
  background-color: var(--_forms---light-input--input-light-bg);
  color: #1c437f;
  font-weight: 400;
}

.form_input::placeholder {
  color: var(--_forms---light-input--input-light-text-placeholder);
  font-size: 0.85rem;
  font-weight: 300;
  text-transform: lowercase;
}

.form_input::placeholder:where(.w-variant-7004af7f-fa73-7b60-65ce-524a31f52812) {
  font-family: var(--_forms---core-inputs--input-font);
  color: var(--_forms---dark-input--input-dark-text-placeholder);
  font-size: var(--_forms---input-placeholder-text-size);
  font-weight: var(--_forms---core-inputs--input-font-weight);
}

.form_input::placeholder:where(.w-variant-4f88d91f-893f-bbae-04e6-912148268bfc) {
  font-family: var(--_forms---core-inputs--input-font);
  color: var(--_forms---dark-input--input-dark-text-placeholder);
  font-size: var(--_forms---input-placeholder-text-size);
  font-weight: var(--_forms---core-inputs--input-font-weight);
}

.form_input::placeholder:where(.w-variant-b7c2bbd7-3446-75f5-354d-c24f808224eb) {
  font-family: var(--_forms---core-inputs--input-font);
  color: var(--_forms---dark-input--input-dark-text-placeholder);
  font-size: var(--_forms---input-placeholder-text-size);
  font-weight: var(--_forms---core-inputs--input-font-weight);
}

.form_input.is-dark {
  border-color: var(--_forms---dark-input--input-dark-bg);
  background-color: var(--_cards---dark-card--dark-card-bg);
  color: var(--_cards---dark-card--dark-card-text-color);
}

.form_input.is-dark.is-select {
  background-color: white;
  background-image: url("https://cdn.prod.website-files.com/68729bbbf00ae2d98c02980d/687e9550f52cfa9d487ef7dd_arrow-down.svg");
  background-position: 97% 50%;
  background-size: 14px;
  background-repeat: no-repeat;

  font-size: 1rem;
  font-weight: 300;
  text-transform: lowercase;

  appearance: none;
}

.form_input.is-dark.is-select:focus-visible {
  outline-color: black;
}

@media screen and (max-width: 479px) {
  .form_input.is-dark.is-select {
    background-position: 96% 50%;
  }
}

.is-select {
  height: auto;
  margin-bottom: 0px;
  padding-top: 1.5rem;
  padding-right: 2rem;
  padding-bottom: 1.5rem;
  padding-left: 2rem;

  transition-property: background-color, border-color;
  transition-duration: 200ms, 200ms;
  transition-timing-function: cubic-bezier(.165, .84, .44, 1), cubic-bezier(.165, .84, .44, 1);

  appearance: none;
}

.is-select:hover {
  border-color: rgba(0, 0, 0, 0.1);
  background-color: #f8f8f4;
}

.is-select:focus {
  outline-color: black;
  outline-offset: 2px;
  outline-style: solid;
  outline-width: 2px;
}

.is-select:focus-visible {
  outline-color: black;
  outline-offset: 2px;
  outline-style: solid;
  outline-width: 2px;
}

.is-select::placeholder {
  color: rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 479px) {
  .is-select {
    background-position: 96% 50%;
  }
}

.form_input.is-dark.is-text-area {
  min-height: 7.5rem;
  background-color: white;
  background-image: url("https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg");
  background-position: 0px 0px;
  background-size: auto;
}

.is-text-area {
  padding-top: 2rem;
}

.form_input.is-text-area {
  height: 10rem;
}

.form_input.is-text-area:where(.w-variant-20439127-d4a4-fe00-fc38-3098e54bd863) {
  border-color: var(--_forms---dark-input--input-dark-bg);
  background-color: var(--_forms---dark-input--input-dark-bg);
  color: var(--_forms---forms--text-color-dark);
}

.form_input.is-text-area:hover:where(.w-variant-20439127-d4a4-fe00-fc38-3098e54bd863) {
  border-color: var(--_forms---dark-input--input-dark-bg-hover);
  background-color: var(--_forms---dark-input--input-dark-bg-hover);
}

.form_input.is-text-area::placeholder:where(.w-variant-20439127-d4a4-fe00-fc38-3098e54bd863) {
  font-family: var(--_forms---core-inputs--input-font);
  color: var(--_forms---light-input--input-light-text-placeholder);
  font-weight: var(--_forms---core-inputs--input-font-weight);
}

.padding-bottom_small {
  padding-bottom: 2rem;
}

@media screen and (max-width: 767px) {
  .padding-bottom_small {
    padding-bottom: 1rem;
  }
}

.margin-bottom_small {
  margin-bottom: 2rem;
}

@media screen and (max-width: 767px) {
  .margin-bottom_small {
    margin-bottom: 1rem;
  }
}

.margin-bottom_medium {
  margin-bottom: 3rem;
}

@media screen and (max-width: 767px) {
  .margin-bottom_medium {
    margin-bottom: 1.5rem;
  }
}

.form_input.is-select {
  color: var(--_forms---light-input--input-light-text-placeholder);
  font-size: var(--_forms---input-placeholder-text-size);
}

.form_input.is-select:where(.w-variant-07b4a10b-0334-be91-3e4e-b34ddf72a9ec) {
  border-color: var(--_forms---dark-input--input-dark-bg);
  background-color: var(--_forms---dark-input--input-dark-bg);
  color: var(--_forms---forms--text-color-dark);
}

.form_input.is-select:hover {
  background-color: var(--_forms---light-input--input-light-bg-hover);
}

.form_input.is-select:hover:where(.w-variant-07b4a10b-0334-be91-3e4e-b34ddf72a9ec) {
  border-color: var(--_forms---dark-input--input-dark-bg-hover);
  background-color: var(--_forms---dark-input--input-dark-bg-hover);
}