.page-wrapper {
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  opacity: 1;
}

@media screen and (min-width: 1920px) {
  .page-wrapper {
    background-color: var(--core-colors--white);
    background-image: none;
  }
}

@media screen and (min-width: 1440px) {
  .page-wrapper {
    background-image: none;
  }
}

@media screen and (max-width: 991px) {
  .page-wrapper {
    background-image: linear-gradient(180deg, #1c437f 36%, #3e6991 51%, #5b8aa0 76%, #b2d3de 103%);
  }
}

.main-wrapper {
  max-width: var(--_space-size---widths--max-width);
  background-color: #fafafa;
}

.section {
  padding-top: 8rem;
  padding-bottom: 8rem;
  background-color: var(--core-colors--white);
}

@media screen and (max-width: 991px) {
  .section {
    padding-top: 7rem;
    padding-bottom: 7rem;
  }
}

@media screen and (max-width: 767px) {
  .section {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

@media screen and (max-width: 479px) {
  .section {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}

.padding-top_none {
  padding-top: 0 !important;
}

@media screen and (max-width: 991px) {
  .padding-top_none {
    padding-top: 0px;
  }
}

@media screen and (max-width: 767px) {
  .padding-top_none {
    padding-top: 0px;
  }
}

@media screen and (max-width: 479px) {
  .padding-top_none {
    padding-top: 0px;
  }
}

.margin-top_none {
  margin-top: 0 !important;
}

@media screen and (max-width: 991px) {
  .margin-top_none {
    margin-top: 0px;
  }
}

@media screen and (max-width: 767px) {
  .margin-top_none {
    margin-top: 0px;
  }
}

@media screen and (max-width: 479px) {
  .margin-top_none {
    margin-top: 0px;
  }
}

.page-padding {
  display: block;
  margin-left: 9rem;
  padding: var(--_space-size---page-padding--page-padding-v) var(--_space-size---page-padding--page-padding-h) var(--_space-size---page-padding--page-padding-h);
}

.padding-left_none {
  padding-left: 0px;
}

.padding-right_none {
  padding-right: 0px;
}