.form-div-2 {
  max-width: 800px;
  padding: 44px 25px;
  flex: 1;

  border: 1px solid #e2e4e9;
  border-radius: 8px;

  background-color: white;
}

.simple-date_field-label-2 {
  color: #303259;
}

.input_field-4 {
  margin-bottom: 5px;
  border: 1px solid #e2e4e9;
  border-radius: 4px;
}

.submit-button {
  display: block;
  width: 100%;
  margin-top: 31px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 29px;
  padding-left: 29px;

  border-radius: 4px;

  background-color: #7e32dd;
}