.social-button {
  position: relative;

  margin-bottom: 0px;
  padding: 12px 15px;

  border: var(--_buttons-2---all-buttons--btn-border-width\<deleted\|variable-2a682968-d18a-237e-eccd-fad617ab04e5\>) solid var(--_buttons-2---core-button-color--btn-blue-border\<deleted\|variable-c4e1830a-a7d4-f37f-408f-e6218cf21e0a\>);
  border-radius: var(--_buttons-2---all-buttons--btn-radius\<deleted\|variable-992c632d-719e-99d6-cffe-71f938290ab1\>);

  background-color: var(--_buttons-2---core-button-color--btn-blue-bg\<deleted\|variable-781f60e2-b64e-9f92-d3e1-cf273b8ef8b4\>);

  box-shadow: none;

  transition: all 200ms ease,background-color 200ms ease,border-color 200ms ease,box-shadow 200ms ease;

  color: var(--_buttons-2---core-button-color--btn-blue-text\<deleted\|variable-d5a3e5df-4cec-64e3-7104-9fe41d7d95fa\>);
  font-size: 15px;
  font-weight: 300;
  text-decoration: none;
}

.social-button:where(.w-variant-015d1546-5854-057d-cded-611eb4b3846c) {
  box-shadow: none;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.social-button:where(.w-variant-015d1546-5854-057d-cded-611eb4b3846d) {
  border-color: var(--_buttons-2---button-green--btn-green-bg\<deleted\|variable-0ba097a6-4bab-2a01-c6c1-49a0bd6bd4b9\>);
  background-color: var(--_buttons-2---button-green--btn-green-bg\<deleted\|variable-0ba097a6-4bab-2a01-c6c1-49a0bd6bd4b9\>);
  box-shadow: none;
}

.social-button:where(.w-variant-015d1546-5854-057d-cded-611eb4b3846e) {
  border-color: var(--_buttons-2---button-green--btn-green-border\<deleted\|variable-afc61bc2-0d9b-f3a3-6b5f-50c4961b333d\>);
  background-color: var(--_buttons-2---button-green--btn-green-bg\<deleted\|variable-0ba097a6-4bab-2a01-c6c1-49a0bd6bd4b9\>);
  box-shadow: none;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.social-button:where(.w-variant-015d1546-5854-057d-cded-611eb4b3846f) {
  border-color: var(--_buttons-2---button-grey--button-white--btngrey-border\<deleted\|variable-b1d4643a-e40e-69fe-fdbc-e90b8f3051d6\>);
  background-color: var(--_buttons-2---button-grey--button-white--btngrey-bg\<deleted\|variable-4f70f171-c4a1-ba95-2fd9-51e99f4df879\>);
  box-shadow: none;
}

.social-button:where(.w-variant-015d1546-5854-057d-cded-611eb4b38470) {
  border-style: solid;
  border-color: var(--_core-2---core-colors--dark-grey\<deleted\|variable-ba000f2b-1cc5-746c-c294-2e76ad3dd256\>);
  background-color: var(--_colors-2---core-colors--transparent\<deleted\|variable-624491f9-0d52-4b00-1ef9-186725a050f2\>);
  color: var(--_core-2---core-colors--dark-grey\<deleted\|variable-ba000f2b-1cc5-746c-c294-2e76ad3dd256\>);
}

.social-button:hover {
  border-color: var(--_buttons-2---core-button-color--btn-blue-border-hover-dim\<deleted\|variable-f293a1e2-e632-5b0e-5613-0fb1fb462aa1\>);
  background-color: var(--_buttons-2---core-button-color--btn-blue-bg-hover-dim\<deleted\|variable-78c44310-4679-911b-d0bd-72f7f7f2da1b\>);
  box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.1);
}

.social-button:hover:where(.w-variant-015d1546-5854-057d-cded-611eb4b3846c) {
  border-color: var(--_buttons-2---core-button-color--btn-blue-border-hover-dim\<deleted\|variable-f293a1e2-e632-5b0e-5613-0fb1fb462aa1\>);
  box-shadow: 0 20px 30px -15px hsla(215.75757575757578, 63.87%, 30.39%, 0.40);
  filter: brightness(97%);
}

.social-button:hover:where(.w-variant-015d1546-5854-057d-cded-611eb4b3846d) {
  border-color: var(--_buttons-2---button-green--btn-green-bg\<deleted\|variable-0ba097a6-4bab-2a01-c6c1-49a0bd6bd4b9\>);
  background-color: var(--_buttons-2---button-green--btn-green-bg-hover-dim\<deleted\|variable-c58ebced-3331-6f35-4501-713b9b5e9071\>);
}

.social-button:hover:where(.w-variant-015d1546-5854-057d-cded-611eb4b3846e) {
  border-color: var(--_buttons-2---button-green--btn-green-border-hover-dim\<deleted\|variable-091c5c05-dff2-120f-c8ec-3f752a2e3c3e\>);
  background-color: var(--_buttons-2---button-green--btn-green-bg-hover-dim\<deleted\|variable-c58ebced-3331-6f35-4501-713b9b5e9071\>);
  box-shadow: 0 20px 30px -15px hsla(199.1304347826087, 27.49%, 49.22%, 0.40);
}

.social-button:hover:where(.w-variant-015d1546-5854-057d-cded-611eb4b3846f) {
  border-color: var(--_buttons-2---button-grey--button-white--btn-grey-border-hover-dim\<deleted\|variable-6ff18042-892e-033b-c3d4-bc5c8391ece7\>);
  background-color: var(--_buttons-2---button-grey--button-white--btn-grey-bg-hover-dim\<deleted\|variable-ee97c42f-ad95-e0a2-b811-a21c8e080cba\>);
  box-shadow: 0 20px 30px -15px hsla(0, 0.00%, 34.12%, 0.40);
}

.social-button:hover:where(.w-variant-015d1546-5854-057d-cded-611eb4b38470) {
  background-color: var(--_colors-2---core-colors--transparent\<deleted\|variable-624491f9-0d52-4b00-1ef9-186725a050f2\>);
  box-shadow: 0 10px 15px -5px hsla(0, 0.00%, 0.00%, 0.23);
}

.social-button:active {
  box-shadow: none;
}

.social-button:active:where(.w-variant-015d1546-5854-057d-cded-611eb4b38470) {
  border-color: var(--_buttons-2---button-grey--button-white--btngrey-border\<deleted\|variable-b1d4643a-e40e-69fe-fdbc-e90b8f3051d6\>);
  background-color: var(--_buttons-2---button-grey--button-white--btngrey-bg\<deleted\|variable-4f70f171-c4a1-ba95-2fd9-51e99f4df879\>);
  box-shadow: none;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.social-button::placeholder {
  color: hsla(0, 0.00%, 43.33%, 1.00);
}

.social-inner {
  display: inline-grid;
  padding-top: 0px;
  padding-right: 6px;
  padding-left: 10px;
  flex-direction: row;
  justify-content: center;
  justify-items: stretch;
  flex-wrap: nowrap;
  align-items: stretch;
  grid-auto-columns: 1fr;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  grid-template-columns: minmax(max-content, 1fr) max-content minmax(25px, 0fr);
  grid-template-rows: auto;
}

.social-inner:where(.w-variant-015d1546-5854-057d-cded-611eb4b3846c) {
  padding-right: 0px;
}

.social-icons-wrapper {
  width: 20px;
}

.icon {
  display: flex;
  width: 5rem;
  height: 5rem;
  margin: 0px auto;
  padding: 5px;
  justify-content: center;
  align-items: center;
  align-self: center;
  flex: 0 0 auto;

  vertical-align: middle;
}

.icon:where(.w-variant-015d1546-5854-057d-cded-611eb4b3846c) {
  display: block;
  width: 25px;
  height: 25px;
  max-width: none;

  background-image: url("https://cdn.prod.website-files.com/68729bbbf00ae2d98c02980d/687e1cf89f5201e48c5104d4_close-x.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.icon:where(.w-variant-015d1546-5854-057d-cded-611eb4b38470) {
  display: block;
  width: 25px;
  height: 25px;
  max-width: none;
}

.icon:where(.w-variant-015d1546-5854-057d-cded-611eb4b3846d) {
  width: 25px;
  height: 25px;
  max-width: 100svh;
}

.icon:where(.w-variant-015d1546-5854-057d-cded-611eb4b3846e) {
  width: 25px;
  height: 25px;
  max-width: none;
}

.icon:where(.w-variant-015d1546-5854-057d-cded-611eb4b3846f) {
  width: 30px;
  height: 30px;
  max-width: none;
}

.icon.is-blue-2 {
  display: block;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.icon.icon_google {
  display: block;
  width: 25px;
  height: 25px;
  max-width: none;
}

.icon.icon_google:where(.w-variant-015d1546-5854-057d-cded-611eb4b3846c) {
  display: block;
  width: 30px;
  height: 30px;
  max-width: none;
  min-width: 30px;
  flex-direction: row;
  flex-wrap: nowrap;

  background-image: none;
  background-repeat: repeat;

  filter: invert(22%) sepia(11%) saturate(6547%) hue-rotate(190deg) brightness(95%) contrast(94%);
}

.icon.icon_google:where(.w-variant-015d1546-5854-057d-cded-611eb4b3846d) {
  display: none;
}

.icon.icon_google:where(.w-variant-015d1546-5854-057d-cded-611eb4b3846e) {
  filter: invert(49%) sepia(37%) saturate(374%) hue-rotate(154deg) brightness(96%) contrast(96%);
}

.icon.icon_google:where(.w-variant-015d1546-5854-057d-cded-611eb4b3846f) {
  display: none;
}

.icon.icon_google:where(.w-variant-015d1546-5854-057d-cded-611eb4b38470) {
  display: none;
}

.icon.icon_google.is-blue-2 {
  display: none;
}

.icon.icon_google.is-blue-2:where(.w-variant-015d1546-5854-057d-cded-611eb4b3846f) {
  display: none;
  width: 30px;
  height: 30px;
}

.icon.icon_google.is-blue-2:where(.w-variant-015d1546-5854-057d-cded-611eb4b3846c) {
  display: block;
}

.icon.icon_google.is-white:where(.w-variant-015d1546-5854-057d-cded-611eb4b3846c) {
  display: none;
}

.icon.icon_google.is-white:where(.w-variant-015d1546-5854-057d-cded-611eb4b3846e) {
  display: none;
}

.icon.icon_google.is-white:where(.w-variant-015d1546-5854-057d-cded-611eb4b38472) {
  display: none;
}

.icon.icon_google.is-white:where(.w-variant-015d1546-5854-057d-cded-611eb4b38471) {
  display: none;
}

.icon.icon-close {
  width: 25px;
  height: 25px;
  max-width: none;
}

.icon.icon-close:where(.w-variant-015d1546-5854-057d-cded-611eb4b3846f) {
  width: 25px;
  height: 25px;
  max-width: none;
}

.icon.icon-close:where(.w-variant-015d1546-5854-057d-cded-611eb4b3846c) {
  width: 20px;
  height: 20px;
}

.icon.icon-close:where(.w-variant-015d1546-5854-057d-cded-611eb4b38470) {
  width: 30px;
  height: 30px;
  border-width: 1px;
  border-color: var(--_core-2---core-colors--bright-white\<deleted\|variable-8b46cec3-a133-22de-a2ba-c92414029514\>);
  border-radius: 14px;
}

.icon.icon-close:where(.w-variant-015d1546-5854-057d-cded-611eb4b3846d) {
  width: 30px;
  height: 30px;
}

.icon.icon-github.is-dark-grey {
  display: none;
  width: 30px;
  height: 30px;
  max-width: none;
}

.icon.icon-github.is-dark-grey:where(.w-variant-015d1546-5854-057d-cded-611eb4b3846f) {
  display: none;
}

.icon.icon-github.is-dark-grey:where(.w-variant-015d1546-5854-057d-cded-611eb4b3846d) {
  display: none;
}

.icon.icon-github.is-dark-grey:where(.w-variant-015d1546-5854-057d-cded-611eb4b38470) {
  display: block;
}

.icon.icon-github.is-white {
  display: none;
}

.icon.icon-github.is-white:where(.w-variant-015d1546-5854-057d-cded-611eb4b38470) {
  display: none;
}

.icon.icon-github.is-white:where(.w-variant-015d1546-5854-057d-cded-611eb4b38472) {
  display: none;
}

.icon.icon-github.is-white:where(.w-variant-015d1546-5854-057d-cded-611eb4b38471) {
  display: none;
}

.icon.icon-github.is-white:where(.w-variant-015d1546-5854-057d-cded-611eb4b3846f) {
  display: block;
}

.icon.icon-google.is-green {
  display: none;
  width: 30px;
  height: 30px;
  max-height: none;
  max-width: none;
}

.icon.icon-google.is-green:where(.w-variant-015d1546-5854-057d-cded-611eb4b3846f) {
  display: none;
}

.icon.icon-google.is-green:where(.w-variant-015d1546-5854-057d-cded-611eb4b3846e) {
  display: block;
}

.icon.icon-google.is-green:where(.w-variant-015d1546-5854-057d-cded-611eb4b3846d) {
  display: none;
}

.icon.icon-linkedin.is-white {
  display: none;
}

.icon.icon-linkedin.is-white:where(.w-variant-015d1546-5854-057d-cded-611eb4b3846e) {
  display: none;
}

.icon.icon-linkedin.is-white:where(.w-variant-015d1546-5854-057d-cded-611eb4b3846f) {
  display: none;
}

.icon.icon-linkedin.is-white:where(.w-variant-015d1546-5854-057d-cded-611eb4b38470) {
  display: none;
}

.icon.icon-linkedin.is-white:where(.w-variant-015d1546-5854-057d-cded-611eb4b38472) {
  display: none;
}

.icon.icon-linkedin.is-white:where(.w-variant-015d1546-5854-057d-cded-611eb4b38471) {
  display: none;
}

.icon.icon-linkedin.is-white:where(.w-variant-015d1546-5854-057d-cded-611eb4b3846d) {
  display: block;
}

.icon.is-blue.is-media-controls {
  position: absolute;
}

.social-label-text {
  padding-top: 5px;
  padding-right: 0px;
  flex: 1;

  font-family: Khand;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 700;
  text-transform: uppercase;
}

.social-label-text:where(.w-variant-015d1546-5854-057d-cded-611eb4b3846c) {
  padding-top: 3px;
}

.social-label-text:where(.w-variant-015d1546-5854-057d-cded-611eb4b3846d) {
  padding-top: 5px;
}

.ms-disconnect-link {
  position: relative;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: 0%;

  padding-right: 5px;

  text-align: right;
  text-decoration: underline;

  filter: invert(97%) sepia(0%) saturate(7112%) hue-rotate(301deg) brightness(128%) contrast(96%);
}

.ms-disconnect-link:where(.w-variant-015d1546-5854-057d-cded-611eb4b3846c) {
  filter: invert(22%) sepia(11%) saturate(6547%) hue-rotate(190deg) brightness(95%) contrast(94%);
}

.ms-disconnect-link:where(.w-variant-015d1546-5854-057d-cded-611eb4b3846e) {
  filter: invert(49%) sepia(37%) saturate(374%) hue-rotate(154deg) brightness(96%) contrast(96%);
}

.ms-disconnect-link:where(.w-variant-015d1546-5854-057d-cded-611eb4b38470) {
  filter: invert(31%) sepia(51%) saturate(6%) hue-rotate(315deg) brightness(95%) contrast(94%);
}

.ms-disconnect-link:hover {
  color: hsla(0, 0.00%, 0.00%, 1.00);
}

#w-node-_553ca35c-f93a-61db-f52f-2688db730672-db730671 {
}
#w-node-_553ca35c-f93a-61db-f52f-2688db730673-db730671 {
  align-self: center;
}
#w-node-_553ca35c-f93a-61db-f52f-2688db730673-db730671:where(.w-variant-69c3afd5-d951-048a-7dc0-be1fc6600bee) {
}
#w-node-_553ca35c-f93a-61db-f52f-2688db730674-db730671 {
}
#w-node-_553ca35c-f93a-61db-f52f-2688db730675-db730671 {
}
#LinkedIn.w-node-_553ca35c-f93a-61db-f52f-2688db730676-db730671 {
}
#Github.w-node-_553ca35c-f93a-61db-f52f-2688db730677-db730671 {
}
#LinkedIn.w-node-_553ca35c-f93a-61db-f52f-2688db730678-db730671 {
}
#Github.w-node-_553ca35c-f93a-61db-f52f-2688db730679-db730671 {
}
#w-node-_553ca35c-f93a-61db-f52f-2688db73067a-db730671 {
}
#w-node-_553ca35c-f93a-61db-f52f-2688db73067a-db730671:where(.w-variant-6a776a31-897e-5dae-a849-180fa6ef1ade) {
  justify-self: center;
}
#w-node-_553ca35c-f93a-61db-f52f-2688db73067a-db730671:where(.w-variant-3c854d0c-3210-d854-01a1-9cc78ef653c0) {
  align-self: center;
  justify-self: center;
  grid-row-start: span 1;
  grid-row-end: span 1;
  grid-column-start: span 1;
  grid-column-end: span 1;
}
#w-node-_553ca35c-f93a-61db-f52f-2688db73067a-db730671:where(.w-variant-015d1546-5854-057d-cded-611eb4b3846c) {
}
#w-node-_553ca35c-f93a-61db-f52f-2688db73067b-db730671 {
  align-self: center;
  justify-self: end;
}