.section-88 {
  overflow: clip;
  padding-top: 8rem;
  padding-bottom: 8rem;
  background-color: #FFFFFF;
  color: #1c447f;
}

@media screen and (max-width: 991px) {
  .section-88 {
    padding-top: 7rem;
    padding-bottom: 7rem;
  }
}

@media screen and (max-width: 767px) {
  .section-88 {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

@media screen and (max-width: 479px) {
  .section-88 {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}

.container-48 {
  width: 100%;
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
}

.grid_4-col-4 {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: minmax(0px, 1fr) minmax(0px, 1fr) 1fr 1fr;
  grid-template-rows: auto;
}

@media screen and (max-width: 991px) {
  .grid_4-col-4 {
    grid-template-columns: minmax(0px, 1fr) minmax(0px, 1fr);
  }
}

@media screen and (max-width: 767px) {
  .grid_4-col-4 {
    grid-template-columns: minmax(0px, 1fr);
  }
}

.gap-medium {
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
}

.flex_vertical-4 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.flex_vertical-4.gap-small {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
}

.gap-small {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
}

.link-content-block-4 {
  transition-property: opacity, color;
  transition-duration: 300ms, 300ms;
  transition-timing-function: ease, ease-in-out;
  text-decoration: none;
  color: inherit;
}

.link-content-block-4:hover {
  color: inherit;
}

.ratio_3x2-4 {
  position: relative;

  display: grid;
  flex: 1;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-columns: 1fr;
  grid-template-rows: auto min-content;
  aspect-ratio: 3/2;
}

.margin-bottom_xsmall {
  margin-bottom: 1rem;
}

.image_cover-4 {
  width: 100%;
  height: 100%;
  border-radius: 0.3525rem 0.35rem 0px 0px;
  object-fit: cover;
}

.heading_h4-3 {
  margin-bottom: 0.35em;

  font-size: 1.41rem;
  line-height: 1.3em;
  font-weight: 700;
  letter-spacing: -0.01em;
  text-transform: uppercase;
}

@media screen and (max-width: 991px) {
  .heading_h4-3 {
    font-size: 1.27rem;
  }
}

@media screen and (max-width: 767px) {
  .heading_h4-3 {
    font-size: 1.15rem;
  }
}

@media screen and (max-width: 479px) {
  .heading_h4-3 {
    font-size: 1.03rem;
  }
}

.margin-bottom_xxsmall {
  margin-bottom: 0.5rem;
}

.paragraph_small-6 {
  margin-bottom: 0.7em;

  font-family: Inter;
  font-size: 0.88rem;
  line-height: 1.6em;
  font-weight: 300;
  letter-spacing: 0em;
  text-transform: capitalize;
}

@media screen and (max-width: 991px) {
  .paragraph_small-6 {
    font-size: 0.88rem;
  }
}

@media screen and (max-width: 767px) {
  .paragraph_small-6 {
    font-size: 0.88rem;
  }
}

@media screen and (max-width: 479px) {
  .paragraph_small-6 {
    font-size: 0.88rem;
  }
}

.paragraph_small-6.margin-bottom_none {
  min-height: 0px;
}

.margin-bottom_none {
  margin-bottom: 0 !important;
}

@media screen and (max-width: 991px) {
  .margin-bottom_none {
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 767px) {
  .margin-bottom_none {
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 479px) {
  .margin-bottom_none {
    margin-bottom: 0px;
  }
}

.divider-4 {
  align-self: stretch;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  -webkit-text-stroke-width: 0px;
  border-bottom-color: color-mix(in srgb, currentColor 15%, transparent);
}

.card-link-5 {
  display: flex;
  overflow: clip;
  margin-bottom: 0px;
  flex-direction: column;
  flex-wrap: nowrap;

  border-style: solid;
  border-width: 0px;
  border-color: rgba(28, 68, 127, 0.2);
  border-radius: 0.5rem;

  background-color: #FFFFFF;
  background-image: none;

  box-shadow: 0 0 0 2px #1c447f, 6px 6px 0 rgba(28, 68, 127, 0.2);
  opacity: 1;

  transform: translateY(0px);
  transition: all 160ms linear;

  color: #1c447f;
  text-decoration: none;
  list-style-type: none;
}

.card-link-5:hover {
  background-color: #FFFFFF;
  box-shadow: 0 0 0 2px #1c447f, 9px 9px 0 rgba(28, 68, 127, 0.2);
  opacity: 1;
  transform: translateY(0px);
  color: #1c447f;
}

.card_body-4 {
  position: relative;
  z-index: 1;

  display: flex;
  padding: 3rem;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: stretch;
  flex: 1;
}

@media screen and (max-width: 991px) {
  .card_body-4 {
    padding: 2rem;
  }
}

@media screen and (max-width: 767px) {
  .card_body-4 {
    padding: 1.5rem;
  }
}

@media screen and (max-width: 479px) {
  .card_body-4 {
    padding: 1.5rem;
  }
}

.text-align_center {
  color: var(--_colors---text--text-green);
  text-align: center;
}

.heading_h2-4 {
  margin-bottom: 0.35em;

  font-size: 2.83rem;
  line-height: 1.04em;
  font-weight: 700;
  letter-spacing: -0.01em;
  text-transform: uppercase;

  text-wrap: balance;
}

@media screen and (max-width: 991px) {
  .heading_h2-4 {
    font-size: 2.26rem;
  }
}

@media screen and (max-width: 767px) {
  .heading_h2-4 {
    font-size: 1.81rem;
  }
}

@media screen and (max-width: 479px) {
  .heading_h2-4 {
    font-size: 1.45rem;
  }
}

.subheading-4 {
  max-width: 1000px;
  margin-bottom: 1.25rem;

  font-family: Inter;
  font-size: 1.13rem;
  line-height: 1.6em;
  font-weight: 300;
  letter-spacing: -0.0025em;
  text-transform: none;
  color: color-mix(in srgb, currentColor 70%, transparent);

  text-wrap: balance;
}

@media screen and (max-width: 991px) {
  .subheading-4 {
    font-size: 1.13rem;
  }
}

@media screen and (max-width: 767px) {
  .subheading-4 {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 479px) {
  .subheading-4 {
    font-size: 1.1rem;
  }
}

.heading_h6-3 {
  margin-bottom: 0.5em;

  font-size: 0.71rem;
  line-height: 1.3em;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

@media screen and (max-width: 991px) {
  .heading_h6-3 {
    font-size: 0.71rem;
  }
}

@media screen and (max-width: 767px) {
  .heading_h6-3 {
    font-size: 0.71rem;
  }
}

@media screen and (max-width: 479px) {
  .heading_h6-3 {
    font-size: 0.71rem;
  }
}

.text-link-4 {
  display: inline;
  color: #1c447f;
  font-weight: 400;
  text-decoration: underline;
  text-decoration-color: color-mix(in srgb, currentColor 30%, transparent);
}

.text-link-4:hover {
  color: hsla(215.75757575757578, 63.87%, 30.39%, 0.60);
  text-decoration: underline;
  text-decoration-color: color-mix(in srgb, currentColor 100%, transparent);
}

#w-node-a4e3db70-5dba-887c-6c2a-254b93cfafdd-93cfafda.w-node-_1032a687-f75e-dfc1-1042-c1020a3ec88a-0a3ec887 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-a4e3db70-5dba-887c-6c2a-254b93cfafe0-93cfafda.w-node-_1032a687-f75e-dfc1-1042-c1020a3ec88c-0a3ec887 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-a4e3db70-5dba-887c-6c2a-254b93cfafef-93cfafda.w-node-_1032a687-f75e-dfc1-1042-c1020a3ec89c-0a3ec887 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
#w-node-_1032a687-f75e-dfc1-1042-c1020a3ec8a2-0a3ec887 {
  grid-column-start: span 2;
  grid-column-end: span 2;
}
#w-node-a4e3db70-5dba-887c-6c2a-254b93cfb001-93cfafda.w-node-_1032a687-f75e-dfc1-1042-c1020a3ec8ac-0a3ec887 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}
@media screen and (max-width: 991px) {
  #w-node-_1032a687-f75e-dfc1-1042-c1020a3ec8a2-0a3ec887 {
    grid-column-start: span 1;
    grid-column-end: span 1;
  }
}