.fancy-vertical-section-navigation-with-active-styles--section--example {
  margin-bottom: 1.5em;
  padding-top: 8em;
  padding-bottom: 8em;
  border-radius: 1em;
  background-color: var(--fancy-vertical-section-navigation-with-active-styles---linen);
}

.fancy-vertical-section-navigation-with-active-styles--padding-global {
  padding-right: 4em;
  padding-left: 4em;
}

@media screen and (max-width: 991px) {
  .fancy-vertical-section-navigation-with-active-styles--padding-global {
    padding-right: 6vw;
    padding-left: 6vw;
  }
}

.fancy-vertical-section-navigation-with-active-styles--container-w3 {
  width: 100%;
  max-width: 51em;
  margin-right: auto;
  margin-left: auto;
}

.fancy-vertical-section-navigation-with-active-styles--p-sm-end {
  padding-bottom: 3em;
}

@media screen and (max-width: 767px) {
  .fancy-vertical-section-navigation-with-active-styles--p-sm-end {
    padding-bottom: 2.3em;
  }
}

.fancy-vertical-section-navigation-with-active-styles--title2 {
  font-size: 3.375em;
  line-height: 1.1em;
  font-weight: 600;
}

@media screen and (max-width: 767px) {
  .fancy-vertical-section-navigation-with-active-styles--title2 {
    font-size: 2.7em;
  }
}

.fancy-vertical-section-navigation-with-active-styles--p-xl-end {
  padding-bottom: 8.5em;
}

@media screen and (max-width: 767px) {
  .fancy-vertical-section-navigation-with-active-styles--p-xl-end {
    padding-bottom: 6em;
  }
}