.sg_heading-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-self: stretch;
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
}

.margin-bottom_medium {
  margin-bottom: 3rem;
}

@media screen and (max-width: 767px) {
  .margin-bottom_medium {
    margin-bottom: 1.5rem;
  }
}